@model Organizer.Models.Group

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Group</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Owner.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tags)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tags)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("GroupEvents", "GroupEvents", new { id = Model.Id }) |
    @Html.ActionLink("Admins", "ListAdmins", new { id = Model.Id }) |
    @Html.ActionLink("Observers", "ListObservers", new { id = Model.Id }) |
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
